.photo_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 80px;
}
.webcam {
    width: 523px;
    height: 296px;
    border: 5px solid hotpink;
    box-shadow: 0 0 50px hotpink;
    border-radius: 7%;
}
